html { 
  
  background-image: url("plant 2.png");

  
  height: 100%; 

  
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  family-font:quicksand;
}

body{

  box-sizing: border-box;
  float:right;
}
.main{
text-align:right;
margin-left:790px;}

body,h1 {font-family: "Raleway", sans-serif}
body, html {height: 100%;}
.bgimg {
  background-image: url('/w3images/forestbridge.jpg');
  min-height: 100%;
  background-position: center;
  background-size: cover;
}



/* Style inputs */
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: white;
  color: black;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color:green;
}

/* Style the container/contact section */
.container {
  border-radius: 5px;
  background-color: #white;
  padding: 10px;
}

.f1{
	
	text-decoration:none;
color: white;
}
.f2{
	text-decoration:none;
color: white;
	
}

.f3{
	text-decoration:none;
color: white;
}
.f4{
	text-decoration:none;
color: white;
}
/* Create two columns that float next to eachother */
.column {
  float: right;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}



body{
	
width:100%;
hight:100vh;

}
*{
	
margin:0;
padding:0;
font-family:century gothic;
}

header{
	
	background-image:liner-gradien url ()
	
}
ul{
float:left;	
	list-style-type:none;
	margin-top:25px;
}

ul li {
display:inline-block;
}

ul li a{
	
text-decoration:none;
color: white;
padding: 5px 20px;
border: 1px solid transparent;
transition:0.6s ease; 
}

ul li a:hover{
	background-color: #fff;
color:#000;	
}
.h1{
	
position:absolute;
top:0%;
left:50%;
transform: translate (-50%,-50%);

}
.bottom{
	
position:absolute;
top:50%;
left:50%;
transform: translate (-50%,-50%);
}